.masthead-container{
	/*max-width:888px;*/
	margin: 0 auto 16px;
	padding: 0 8px;
}

.had-logo{
	float:left;
}

.no-mq .had-logo {
	min-width: 401px;
}

.account-box {
	float:right;
	margin-top: 20px;
}

.authenticated .account-box {
	margin-top: 10px;
}

.account-box p {
	margin: 0;
	text-align: right;
	font-weight: bold;
}

.account-box a:before {
	display:none;
}


.account-box a {
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color:#666;
	margin: 0;
}

.account-box a:hover {
	color:#ec2a20;
}

.authenticated .account-box a {
	text-transform: none;
	margin: 0;
	color: #ec2a20;
}

@media screen and (max-width: 768px) {

	.account-box {
		display: none;
	}

}



/* -------------------------END TOP MASTHEAD----------------------------- */






/* -------------------------TOP NAV----------------------------- */

.nav-toggle {
	display: none;
}

.top-nav-container {
	padding: 0 8px;
	margin: 0 auto 16px;
}

.top-nav {
	border: 1px solid #c9c8c9;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,eeeeee+50,eeeeee+100 */
	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(50%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.top-nav ul {
	padding:0;
	margin:0;
	/*height:38px;*/
}

.top-nav .utility-nav {
	display: none;
}

.top-nav li {
	list-style-type: none;
	display:block;
	float:left;
	margin-bottom: 0;
}


.top-nav li a {
	display:block;
	font-size: 11px;
	/*font-weight: bold;*/
	color: #2c2c2c;
	text-decoration: none;
	text-transform: uppercase;
	padding: 0 13px 0 13px;
	border-right: 1px solid #c9c8c9;
	line-height:36px;
}

.top-nav li a:hover {
	color:#ec2a20;
	background:#fff;
}

.top-nav li.selected a {
	color:#fff;
	font-weight: bold;
	text-shadow: 1px 1px 3px black;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ef3123+0,ef3123+50,c22f25+51,c22f25+100 */
	background: rgb(239,49,35); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(239,49,35,1)), color-stop(50%,rgba(239,49,35,1)), color-stop(51%,rgba(194,47,37,1)), color-stop(100%,rgba(194,47,37,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(239,49,35,1) 0%,rgba(239,49,35,1) 50%,rgba(194,47,37,1) 51%,rgba(194,47,37,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(239,49,35,1) 0%, rgba(239,49,35,1) 50%, rgba(194,47,37,1) 51%, rgba(194,47,37,1) 100%);
	background: linear-gradient(to bottom,  rgba(239,49,35,1) 0%,rgba(239,49,35,1) 50%,rgba(194,47,37,1) 51%,rgba(194,47,37,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef3123', endColorstr='#c22f25',GradientType=0 ); /* IE6-9 */
}


@media screen and (max-width: 768px) {

	.top-nav-container {
		margin-bottom: 32px;
	}

	.nav-toggle {
		display: block;

		cursor: pointer;
	}

	.nav-toggle-icon {
		float: left;
		display: block;
		width: 36px;
		height: 36px;
		color: #000;
		background: #cdcdcd;
		font-size: 32px;
		font-weight: bold;
		line-height: 36px;
		text-align: center;
	}

	.nav-toggle-text {
		display: block;
		color: #000;
		font-size: 16px;
		line-height: 24px;
		font-weight: bold;
		text-transform: uppercase;
		padding: 7px 8px 5px 44px;
	}

	.top-nav .main-nav,
	.top-nav .utility-nav {
		display: none;
		position: relative;
		z-index: 1000;
	}

	.top-nav .main-nav {
		margin-top: 2px;
	}

	.top-nav.expanded .main-nav,
	.top-nav.expanded .utility-nav {
		display: block;
	}

	.top-nav {
		border: 2px solid #a6a6a6;
		/*height: 40px;*/
		max-height: 40px;
	}

	.top-nav ul {
		/*display: block !important;*/
		/*position: absolute;*/
		left: 0;
		right: 0;
		background: #efefef;
		border-left: 2px solid #cdcdcd;
		border-right: 2px solid #cdcdcd;
		padding: 0 16px;
		margin: 0 -2px;
	}

	.utility-nav {
		border-bottom: 2px solid #cdcdcd;
	}

	.top-nav li {
		float: none;
	}

	.top-nav li a {
		font-size: 16px;
		line-height: 1;
		font-weight: bold;
		color: #333;
		padding: 1.25em 0;
		border-top: 1px solid #cdcdcd;
		border-right: 0;
	}

	.top-nav li.first-item a {
		border-top: 0;
	}

	.top-nav li a:hover,
	.top-nav li.selected a {
		background: none;
		color: #ec2a20;
		text-shadow: none;
	}

}

/* -------------------------END TOP NAV----------------------------- */
