/* -------------------------PAGE CONTENT----------------------------- */

.content-container {
	background:#fff;
	margin: 0 auto;
	padding: 30px 22px;
	margin: 0 auto 87px;
	padding: 30px 22px;
	max-width: 888px;
	box-shadow: 0px 0 7px 0px rgba(0,0,0,0.50);
	min-height:500px;
}

.no-mq .content-container {
	width: 888px;
}

.page-header h1 {
	display: inline-block;
	margin-right: 10px;
}

.red-block,
.blue-block {
	font-size: 20px;
	line-height: 1.25;
	font-weight: 400;
	color: #fff;
	background: #ee3124;
	margin: 0;
	padding: 3em 1em;
}

.blue-block {
	background: #0070af;
}

.lyric-element {
	display: none;
}

.both-element {
	display: none;
}

.page-header-links{
	display: block;
	vertical-align: middle;
	margin: -10px 0 0 0;
}

.vertical-rule {
	font-size: 16px;
}

.vertical-rule:before {
	content: "\00a0\00a0|\00a0"; /* \00a0 = &nbsp; */
}

.page-header-description {
	background: #fff;
	background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c9c8c9;
	padding: 10px 14px 0;
	/*box-shadow: 0 1px 2px rgba(0,0,0,0.15);*/
	margin: 1em 0;
}

.page-section-header {
	padding-bottom: 6px;
	border-bottom: 1px solid #7e7e7e;
	margin-bottom: 20px;
}

.page-section-header h2 {
	float: left;
	color: #ee3124;
	font-size: 24px;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

#lyric-tab-program-milestones .page-section-header h2 {
	color: #0070af;
}

.page-section-header h3 {
	float: right;
	font-size: 20px;
	font-weight: normal;
	line-height: 1;
	padding-top: 4px;
	margin: 0;
}

.list-two-column {

}

.list-two-column:after {
  content: "";
  display: table;
  clear: both;
}

.list-two-column li {
	float: left;
	width: 50%;
}


@media screen and (max-width: 888px) {

	.content-container {
		margin-bottom: 0;
	}

}

@media screen and (max-width: 768px) {

	.content-container {
		padding: 16px 8px 30px;
	}

	.list-two-column li {
		float: none;
		width: 100%;
	}

}

@media screen and (max-width: 640px) {

	.content-container {
		padding: 16px 8px;
		background-image: none !important;
	}

	.red-block {
		padding: 1em;
	}

	.become-dealer-sidebar-img {
		display: none;
	}

}

@media screen and (max-width: 480px) {

	.page-header h1 {
		width: 100%;
	}

	.page-section-header h2 {
		font-size: 18px;
	}

	.page-section-header h3 {
		font-size: 16px;
	}

}

@media screen and (max-width: 400px) {

	.page-header-links a {
		display: block;
		padding: 5px;
	}

	.page-header-links .vertical-rule {
		display: none;
	}

}


/* -------------------------END PAGE CONTENT----------------------------- */


/* -------------------------PAGE BACKGROUNDS----------------------------- */

.program-content-container {
	background: #fff url(../img/bg-img-program-overview.jpg) no-repeat center bottom;
}

.benefits-content-container {
	background: #fff url(../img/bg-img-benefits.jpg) no-repeat center bottom;
}

.rewards-content-container {
	background: #fff url(../img/bg-img-rewards.jpg) no-repeat center bottom;
}

.requirements-content-container {
	background: #fff url(../img/bg-img-requirements.jpg) no-repeat center bottom;
}

/* -------------------------END PAGE BACKGROUNDS----------------------------- */


/* -------------------------FEATURED CONTENT----------------------------- */

.featured-content-container {
	/*min-height: 335px;*/
}

.tab-content-container {
}

.tab-content-slides {
  /*background: #eee;*/
  border: 1px solid #c9c8c9;
  /*min-height: 348px;*/
}

.had-tab .tab-content-slides {
	border-color: #fe2725;
}

.lyric-tab .tab-content-slides {
	border-color: #0e8fd3;
}

.tabs {
	list-style-type: none;
	padding: 0;
	margin: 0;
	font-size: 0;
}

.tab {
	list-style-type: none;
	display: inline-block;
	margin: 0;
	padding-right: 2px;
	text-align: center;
}

.tab > a {
	display: block;
	font-size: 16px;
	line-height: 30px;
	font-weight: bold;
	color: #353a3c;
	text-decoration: none;
	padding: 0 9px;
	border: 1px solid #c9c8c9;
	border-bottom: 0;
	border-radius: 10px 10px 0 0;
	/*background-color:#ababab;
	background-image: -webkit-linear-gradient(top, #efefef, #ababab);
	background-image: linear-gradient(to bottom, #efefef, #ababab);*/
	background: #efefef;
	background-image: -webkit-linear-gradient(top, #f3f2f3, #efefef);
	background-image: linear-gradient(to bottom, #f3f2f3, #efefef);
}

.tab.selected > a,
.tab > a:hover {
	/*color: #fff;*/
	/*background: #999999;
	background-image: -webkit-linear-gradient(top, #ababab, #999999);
	background-image: linear-gradient(to bottom, #ababab, #999999);*/
	background-color:#ababab;
	background-image: -webkit-linear-gradient(top, #efefef, #ababab);
	background-image: linear-gradient(to bottom, #efefef, #ababab);
}

.had-tab .tab.selected > a,
.had-tab > a:hover {
	color: #fff;
	border-color: #fe2725;
	background-color:#fe2725;
	background-image: -webkit-linear-gradient(top, #ff5b5b, #fe2725);
	background-image: linear-gradient(to bottom, #ff5b5b, #fe2725);
}


.lyric-tab .tab.selected > a,
.lyric-tab > a:hover {
	color: #fff;
	border-color: #0e8fd3;
	background-color:#0e8fd3;
	background-image: -webkit-linear-gradient(top, #0097d7, #0e8fd3);
	background-image: linear-gradient(to bottom, #0097d7, #0e8fd3);
}

/*.profile-tabs .tab > a {
	font-size: 14px;
}*/

.tab-slide-set {
	position: relative;
	z-index: -1;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity ease 400ms;
}
.no-csstransitions .tab-slide-set {
	display: none;
}

.tab-slide-set.selected {
	z-index: 1;
	opacity: 1;
	max-height: 2000px;
}
.no-csstransitions .tab-slide-set.selected {
	display: block;
}

.tab-slides {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

.tab-slides > li {
	list-style-type: none;
	margin-bottom: 0;
}

.tab-slide {
	position: relative;
	z-index: -1;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: opacity ease 400ms;
					transition: opacity ease 400ms;
}
.no-csstransitions .tab-slide {
	display: none;
}

.tab-slide.selected {
	z-index: 1;
	opacity: 1;
	max-height: 2000px;
	-webkit-transition: opacity ease 400ms;
					transition: opacity ease 400ms;
}
.no-csstransitions .tab-slide.selected {
	display: block;
}

.tab-slide img {
	width: 100%;
	height: auto;
}

.tab-slide-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
  height: 100%;
	padding: 20px;
	text-align: center;
}

.overlay-left {
	width: 40%;
	right: auto;
	text-align: left;
}

.overlay-right {
	width: 40%;
	left: auto;
	text-align: left;
}

.tab-slide-overlay-inner {
	display: table;
	height: 100%;
	width: 100%;
}

.tab-slide-overlay-text {
	display: table-cell;
	vertical-align: middle;
	height: 100%;
}

.overlay-top .tab-slide-overlay-text {
	vertical-align: top;
}

.overlay-bottom .tab-slide-overlay-text {
	vertical-align: bottom;
}

.tab-slide-overlay-title {
	display: none;
}

.tab-slide-overlay p {
	font-size: 16px;
	line-height: 25px;
	color: #2c2c2c;
	margin-top: 0;
}

.lyric-tab .btn:hover {
	background-color: #0070af;
}

.tab-slides-nav {
	position: absolute;
	z-index: 10;
	bottom: 0;
	width: 100%;
	list-style-type: none;
	padding: 0;
	margin: 0;
	height: 33px;
	background-color: #fff;
	background-color: rgba(255,255,255,0.76);
	font-size: 0;
	border-top: 1px solid #c9c8c9;
}

.profile-tabs .tab-slides-nav {
	position: static;
}

.had-tab .tab-slides-nav {
	border-top-color: #fe2725;
}

.lyric-tab .tab-slides-nav {
	border-top-color: #0e8fd3;
}

.tab-slides-nav li {
	list-style-type: none;
	display: inline-block;
	width: 25%;
}

.profile-tabs .tab-slides-nav.tabs-1 li {
	width: 100%;
}

.profile-tabs .tab-slides-nav.tabs-2 li {
	width: 50%;
}

/*.profile-tabs.had-tab .tab-slides-nav li {
	width: 16.66%;
}

.profile-tabs.had-tab .tab-slides-nav li:last-child {
	width: 16.7%;
}

.profile-tabs.lyric-tab .tab-slides-nav li {
	width: 20%;
}*/


.tab-slides-nav a {
	display: block;
	font-size: 16px;
	line-height: 32px;
	font-weight: bold;
	color: #353a3c;
	text-align: center;
	text-decoration: none;
}

/*.profile-tabs .tab-slides-nav a {
	font-size: 12px;
}*/

/*.tab-slides-nav .selected a {
	color: #fff;
}*/

.had-tab .tab-slides-nav a:hover,
.tab-slides-nav .had-tab a:hover {
	color: #000;
	background: #ffc8c8;
	background: rgba(255,35,35,.25);
}

.had-tab .tab-slides-nav .selected a,
.tab-slides-nav .had-tab.selected a {
	color: #fff;
	background-color: #ff2323;
	background-image: -webkit-linear-gradient(top, #ff5b5b 0, #ff5b5b 50%, #fe2725 50%, #fe2725 100%);
	background-image: linear-gradient(to bottom, #ff5b5b 0, #ff5b5b 50%, #fe2725 50%, #fe2725 100%);
}

.lyric-tab .tab-slides-nav a:hover {
	color: #000;
	background: #feeccf;
	background: rgba(250,176,61,.25);
}

.tab-slides-nav .lyric-tab a:hover {
	color: #000;
	background: #c3e3f4;
	background: rgba(14,143,211,.25);
}

.lyric-tab .tab-slides-nav .selected a {
	background-color: #fab03d;
	background-image: -webkit-linear-gradient(top, #ffd658 0, #ffd658 50%, #fab03d 50%, #fab03d 100%);
	background-image: linear-gradient(to bottom, #ffd658 0, #ffd658 50%, #fab03d 50%, #fab03d 100%);
}

.tab-slides-nav .lyric-tab.selected a {
	color: #fff;
	background-image: -webkit-linear-gradient(top, #0097d7 0, #0097d7 50%, #0e8fd3 50%, #0e8fd3 100%);
	background-image: linear-gradient(to bottom, #0097d7 0, #0097d7 50%, #0e8fd3 50%, #0e8fd3 100%);
}


@media screen and (max-width: 888px) {



}

@media screen and (max-width: 768px) {

	.overlay-right,
	.overlay-left {
		/*width: 50%;*/
	}

	.tab-slide-overlay p {
		font-size: 14px;
		line-height: 1.5;
	}

	.profile-tabs .tab {
		width: 100%;
		padding-right: 0;
	}

	.profile-tabs .tab > a {
		border-radius: 0;
		padding: 5px 9px;
	}

	.home-tabs .tab > a {
		padding: 5px 9px;
	}

	.profile-tabs .tab:first-of-type > a {
		border-radius: 10px 10px 0 0;
	}

}

@media screen and (max-width: 640px) {

	/*.home-tabs .tab-content-tabs {
		display: none;
	}*/

	.home-tabs .tab {
		padding-right: 0;
		width: 50%;
	}

	.tab-content-slides {
		/*border: 0;*/
	}

	/*.home-tabs .default-slide-set {
		display: none;
	}*/

	/*.home-tabs .tab-slide-set {
		position: static;
		z-index: 1;
    opacity: 1;
    max-height: 2000px;
	}*/

	.home-tabs .tab-slide {
		position: static;
		z-index: 1;
		opacity: 1;
		max-height: 2000px;
		border-bottom: 1px solid #cdcdcd;
	}

	.home-tabs .tab-slide:last-child {
		border-bottom: 0;
	}

	.home-tabs .tab-slides-nav {
		display: none;
	}

	.home-tabs .tab-slide-overlay {
		position: static;
		width: 100% !important;
		padding: 16px;
	}

	.tab-slide-overlay-title {
		display: block;
	}

	.home-tabs .tab-slide img {
		display: none;
	}

	/*.home-tabs .tab-slide a.btn {
		margin: 0 auto;
	}*/

	.home-tabs .tab-slide a.btn {
		width: 100%;
		text-align: center;
		height: auto;
		padding: 5px;
	}

	/*.home-tabs .tab-slide a.btn:after {
		content: attr(rel);
	}

	.home-tabs .tab-slide a.btn span {
		display: none;
	}*/

}

@media screen and (max-width: 540px) {

	.tab,
	.home-tabs .tab {
		padding-right: 0;
		width: 100%;
	}

	.home-tabs .tab > a {
		border-radius: 0;
		padding: 5px 9px;
	}

	.home-tabs .tab:first-of-type > a {
		border-radius: 10px 10px 0 0;
	}

}

@media screen and (max-width: 480px) {

	.featured-content-container {
		display: none;
	}

}


/* -------------------------END FEATURED CONTENT----------------------------- */


/* -------------------------CALLOUTS HORIZONTAL----------------------------- */
.callout {
	cursor: pointer;
}

.callouts-container {
	position: relative;
	z-index: -1;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	-webkit-transition: opacity ease 400ms;
					transition: opacity ease 400ms;
}

.callouts-container.selected {
	z-index: 1;
	opacity: 1;
	max-height: 500px;
	-webkit-transition: opacity ease 400ms;
					transition: opacity ease 400ms;
}

.callout-headline{
	font-size: 16px;
	color:#ec2a20;
	text-align: center;
}

.lyric-callouts .callout-headline {
	color: #0070af;
}

.callout-image {
	text-align: center;
}

.callout-image img {
	max-width: 80%;
	height: 74px;
}

.callout-body,
.callout-body p,
.callout-body a {
	font-size: 11px;
	line-height: 14px;
	color: #000;
}

.callout-body ul, .callout-body ol {
	font-size: 11px;
}

.read_more_page, .read_more_page p {
	color: #000;
}

@media screen and (max-width: 640px) {

	.callouts-container.selected {
		max-height: 1000px;
	}

	.callout-headline {
		font-size: 18px;
	}

	.callout-body p, .callout-body a {
		font-size: 14px;
		line-height: 1.25;
	}

}

/* -------------------------END CALLOUTS HORIZONTAL----------------------------- */


/* -------------------------PROGRAM ACCORION----------------------------- */

.accordion-wrapper {
	/*padding-top: 15px;*/
	/*margin-top: 24px;*/
	/*border-top: 1px solid #ccc;*/
}

.accordion-instructions {
	font-size: 12px;
	line-height: 1;
	font-weight: bold;
	color: #191A00;
	/*border-bottom: 1px solid #ccc;*/
	margin: -39px 0 15px 0;
}

.accordion-instructions span {
	display: inline-block;
	background: #f6f6f6;
	border: 1px solid #ccc;
	/*border-bottom: 0;*/
	border-radius: 5px 5px 5px 0;
	padding: 5px 10px 5px 5px;
}

.accordion-instructions span:before {
	content: "i";
	display: inline-block;
	vertical-align: top;
	width: 12px;
	height: 12px;
	font-family: georgia, serif;
	font-size: 10px;
	font-style: italic;
	text-align: center;
	color: #fff;
	background-color: #0070af;
	border-radius: 50%;
	padding-top: 2px;
	margin-right: 5px;
}

.accordion-section-wrapper {
	margin-bottom: 1.5em;
}

.accordion-section-wrapper .accordion-section-wrapper {
	margin-bottom: 0.25em;
}

.accordion-section-header,
.accordion-section-header h3,
.accordion-section-header h4,
.accordion-section-header h5 {
	position: relative;
	color: #ee3124;
	/*cursor: pointer;*/
	/*margin-bottom: 0;*/
	/*padding-bottom: 20px;*/
}

.accordion-section-header h3,
.accordion-section-header h4,
.accordion-section-header h5 {
	display: inline-block;
}

.accordion-section-header.tooltip,
.accordion-section-header.tooltip h3 {
	padding-bottom: 20px;
	margin-bottom: 0;
}

.active .accordion-section-header {
	cursor: pointer;
}

/*.active .accordion-section-header h3,
.active .accordion-section-header h4,
.active .accordion-section-header h5 {
	position: relative;
	margin-left: 16px;
}*/

.active .accordion-section-header:before {
	content: "";
	/*position: absolute;
	left: -16px;
	top: 2px;*/
	display: inline-block;
	width: 11px;
	height: 11px;
	margin-right: 5px;
	background: url(../img/accordion-toggle-icon.png) no-repeat left top;
}

.selected > .accordion-section-header:before {
	background-position: left bottom;
}

.active .accordion-section-header.tooltip:after {
	opacity: 0;
	display: inline-block;
	content: "Click to expand content ▼";
	position: absolute;
	top: 19px;
	/*bottom: 1px;*/
	left: 5px;
	font-size: 11px;
	font-weight: normal;
	color: #191A00;
	padding: 2px 7px 2px 10px;
	background: #f6f6f6;
	background-image: -webkit-linear-gradient(top, #eeeeee, #f6f6f6);
	background-image: linear-gradient(to bottom, #eeeeee, #f6f6f6);
	border: 1px solid #c2c2c2;
	border-radius: 0 0 5px 5px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-webkit-transition: all ease 200ms;
					transition: all ease 200ms;
}
.no-csstransitions .active .accordion-section-header.tooltip:after {
	display: none;
}

.active .accordion-section-header:hover:after {
	opacity: 1;
}
.no-csstransitions .active .accordion-section-header:hover:after {
	display: inline-block;
}

.active .selected > .accordion-section-header.tooltip:after {
	content: "Click to collapse content ▲";
	background-image: -webkit-linear-gradient(top, #f6f6f6, #eeeeee);
	background-image: linear-gradient(to bottom, #f6f6f6, #eeeeee);
	border-radius: 5px 5px 0 0;
	box-shadow: 0 -1px 2px rgba(0,0,0,0.15);
}

.accordion-section-teaser {
	display: table;
	max-height: 300px;
	opacity: 1;
	overflow: hidden;
	padding: 0 0 0 5px;
}

.tooltip .accordion-section-teaser {
	margin-bottom: -10px;
}

.accordion-section-content .accordion-section-teaser {
	padding-left: 0;
}

.accordion-section-teaser p {
	margin-top: 0;
}

.teaser-image {
	display: table-cell;
	vertical-align: middle;
	width: 150px;
	padding: 10px;
	text-align: center;
	border: 1px solid #c2c2c2;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.teaser-image img {
	max-width: 100%;
	height: auto;
}

.teaser-tagline {
	display: table-cell;
	vertical-align: middle;
	font-size: 18px;
	color: #333;
	padding-left: 20px;
}

.small-teaser .teaser-image,
.teaser-image.inline-teaser {
	width: 80px;
	padding: 0;
}

.teaser-image.inline-teaser {
	display: inline-block;
	float: left;
	margin: 0 10px 10px 0;
}

.small-teaser .teaser-image img {

}

.small-teaser .teaser-tagline {
	font-size: 14px;
	padding-left: 10px;
}


.accordion-section-content {
	padding-left: 5px;
	/*margin-top: 1em;*/
	max-height: 0;
	overflow: hidden;
	opacity: 0;
	-webkit-transition: all ease-in-out 1000ms;
					transition: all ease-in-out 1000ms;
	-webkit-transition-delay: -500ms;
	        transition-delay: -500ms;
}

.accordion-section-content .accordion-section-content {
	padding-left: 0;
	/*margin-top: 0.5em;*/
}

.selected > .accordion-section-content {
	max-height: 4000px;
	opacity: 1;
	-webkit-transition: all ease-in-out 1000ms;
					transition: all ease-in-out 1000ms;
}

.accordion-section-content h4 {
	color: #ee3124;
}

div.accordion-section-header + .accordion-section-content > p:first-child {
	margin-top: 0.75em;
}

/* -------------------------END PROGRAM ACCORDION----------------------------- */

/* -------------------------PROGRAM TABLES----------------------------- */

.program-chart {
	width: 100%;
	min-width: 500px;
	color: #000;
	margin: -10px -10px 10px;
	padding: 10px;
	background: #fff;
	background: rgba(255,255,255,.5);
	/*border: 10px solid rgba(255,255,255,.5);*/
	border-collapse: separate;
}

.program-chart th {
	font-size: 12px;
	padding: 5px 10px;
}

.program-chart td {
	font-size: 12px;
	padding: 5px 10px;
	border-bottom: 1px solid #00498e;
}

/*.program-chart td.silver-level.highlight {
	background-color: rgba(127,129,128,0.25);
}
.program-chart td.gold-level.highlight {
	background-color: rgba(200,177,107,0.25);
}
.program-chart td.platinum-level.highlight {
	background-color: rgba(156,157,160,0.25);
}*/

th.program-chart-title {
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	color: #00498e;
}

.program-chart-footer {
	font-weight: normal;
	text-align: left;
}

.program-chart .silver-level,
.program-chart .gold-level,
.program-chart .platinum-level {
	font-weight: bold;
	text-align: center;
	width: 15%;
}

.program-tier-header {
	color: #fff;
	text-transform: uppercase;
	border-left: 1px solid #fff;
}

.program-tier-header.silver-level {
	color: #fff;
	background-color: #7f8180;
}

.program-tier-header.gold-level {
	color: #fff;
	background-color: #c8b16b;
}

.program-tier-header.platinum-level {
	color: #fff;
	background-color: #9c9da0;
}

.program-list-header.blue-header {
	color: #fff;
	background-color: #0070af;
}

.program-list-header.red-header {
	color: #fff;
	background-color: #ee3124;
}

.program-list-header.orange-header {
	color: #fff;
	background-color: #b75c13;
}


/* -------------------------END PROGRAM TABLES----------------------------- */

/* -------------------------MY PROFILE----------------------------- */

.silver-level {
	color: #7f8180;
	color: rgba(127,129,128,1);
}

.gold-level {
	color: #c8b16b;
	color: rgba(200,177,107,1);
}

.platinum-level {
	color: #9c9da0;
	color: rgba(156,157,160,1);
}

.lyric-level {
	color: #0070af;
	color: rgba(0,112,175,1)
}

.silver-level.highlight {
	background-color: #dedfdf;
	background-color: rgba(127,129,128,0.25);
}

.gold-level.highlight {
	background-color: #f1ebd9;
	background-color: rgba(200,177,107,0.25);
}

.platinum-level.highlight {
	background-color: #e7e7e8;
	background-color: rgba(156,157,160,0.25);
}

.silver-level-bg {
	background-color: #7f8180;
}

.gold-level-bg {
	background-color: #c8b16b;
}

.platinum-level-bg {
	background-color: #9c9da0;
}


/* -------------------------END MY PROFILE----------------------------- */

/* -------------------------DOCUMENTS LIST----------------------------- */

.documents-list {
	background: #fff;
	background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
	border: 1px solid #c9c8c9;
	border-radius: 0 0 3px 3px;
	padding: 10px 10px 0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.documents-list-title {
	margin: -10px -10px 10px;
	padding: 10px;
	border-bottom: 1px solid #c9c8c9;
	font-size: 14px;
	text-align: center;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+50,eeeeee+50,eeeeee+100 */
	background: rgb(255,255,255); /* Old browsers */ /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(255,255,255,1)), color-stop(50%,rgba(238,238,238,1)), color-stop(100%,rgba(238,238,238,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%); /* Chrome10+,Safari5.1+ */ /* Opera 11.10+ */ /* IE10+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 50%, rgba(238,238,238,1) 50%, rgba(238,238,238,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 50%,rgba(238,238,238,1) 50%,rgba(238,238,238,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
}

.documents-list-subtitle {
	margin: 8px -10px;
	padding: 10px;
	border-top: 1px solid #c9c8c9;
}

.documents-list a {
	display: block;
}


/* -------------------------END DOCUMENTS LIST----------------------------- */


/* -------------------------SPECIAL LISTS----------------------------- */

.file-list {
	display: inline-block;
	list-style-type: none;
	padding-left: 0;
	margin: 1em 0;
	border: 1px solid #c2c2c2;
	border-bottom: 0;
	border-radius: 3px;
}

/*.file-list:before {
	content: "Files";
	display: block;
	padding: 5px 10px;
	border-bottom: 1px solid #c2c2c2;
	background: #efefef;
}*/

.file-list-item {
	padding: 8px 10px;
	margin: 0;
	border-bottom: 1px solid #c2c2c2;
}

.file-list-item:nth-child(even) {
	background-color: #f6f6f6;
}

.file-list-item a {
	display: block;
	text-decoration: none;
	margin-bottom: 0;
}

.event-list {
	list-style-type: none;
	padding-left: 0;
	margin: 0 0 1em;
	font-size: 0;
}

.event-list-item {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	min-height: 104px;
	border: 1px solid #c2c2c2;
	padding: 10px 10px 0;
	margin: 0 10px 10px 0;
	background: #fff;
	background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
}

.event-title {
	margin: -10px -10px 10px;
	padding: 5px 10px;
	border-bottom: 1px solid #c9c8c9;
	font-size: 14px;
	/*font-weight: normal;*/
	background: #f6f6f6;
}

.event-list-item date {
	display: block;
	color: #666;
	font-size: 12px;
	font-style: italic;
	font-weight: bold;
	margin-bottom: 0.5em;
}

.event-list-item p {
	font-size: 13px;
}

/* -------------------------END SPECIAL LIST----------------------------- */

/* -------------------------TIER PROGRESS CHART----------------------------- */

.tier-progress {
	margin: 1em 1em 1em 0;
	padding: 20px 20px 10px;
	border: 1px solid #c2c2c2;
	background: #fff;
	background-image: -webkit-linear-gradient(top, #ffffff, #f6f6f6);
	background-image: linear-gradient(to bottom, #ffffff, #f6f6f6);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0 ); /* IE6-9 */
}

.tier-progress figcaption {
	font-size: 16px;
	line-height: 1.5;
	font-weight: bold;
	text-align: center;
	margin-bottom: 1em;
}

.tier-progress figcaption p {
	font-size: 13px;
	font-weight: bold;
	text-align: left;
}

.tier-progress-chart {
	font-size: 0;
	margin: 20px 0;
	border: 1px solid #c2c2c2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	background-color: #fff;
}

.tier-progress-chart.profile-tier {
	display: inline-block;
	float: right;
	width: auto;
	margin: 19px 0;
}

.tier-progress-chart span {
	display: inline-block;
	width: 33.33%;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 6px 5px 4px;
	/*border-top: 1px solid #c2c2c2;
	border-bottom: 1px solid #c2c2c2;*/
	/*background: #fff;*/
}

.tier-progress-chart.profile-tier span {
	width: auto !important;
	padding: 6px 10px 4px;
	/*border-left: 1px solid #c2c2c2;
	border-right: 0 !important;*/
}

.tier-progress-chart.profile-tier span.tier-label {
	font-weight: normal;
	/*border-left: 1px solid #c2c2c2 !important;
	border-radius: 3px 0 0 3px;*/
}
.tier-progress-chart.profile-tier span.tier-value {
	color: #000;
	border-left: 1px solid #c2c2c2;
	/*border-radius: 0 3px 3px 0;*/
}

/*.tier-progress-chart span.silver-level {
	border-left: 1px solid #c2c2c2;
	border-radius: 3px 0 0 3px;
}*/
.tier-progress-chart span.gold-level {
	width: 33.34%;
	border-left: 1px solid #c2c2c2;
	border-right: 1px solid #c2c2c2;
}
/*.tier-progress-chart span.platinum-level {
	border-right: 1px solid #c2c2c2;
	border-radius: 0 3px 3px 0;
}*/


@media screen and (max-width: 480px) {

	.tier-progress-chart.profile-tier {
		display: block;
		float: none;
		margin-top: 0;
	}

	.tier-progress-chart.profile-tier span {
		width: 50% !important;
	}

	.tier-progress-chart span {
		width: 100%;
	}

	.tier-progress-chart span.gold-level {
		width: 100%;
		border-left: 0;
		border-right: 0;
		border-top: 1px solid #c2c2c2;
		border-bottom: 1px solid #c2c2c2;
	}

}

/* -------------------------END TIER PROGRESS CHART----------------------------- */


/* -------------------------RESPONSIVE TABLES----------------------------- */

.responsive-table {
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
	padding: 1px;
}

.table-shadow-left {
  border-left: 1px solid #c2c2c2;
  /*box-shadow: 10px 0 20px -10px rgba(0,0,0,.5);*/
}

.table-shadow-right {
  border-right: 1px solid #c2c2c2;
  /*box-shadow: -10px 0 20px -10px rgba(0,0,0,.5);*/
}

/* -------------------------END RESPONSIVE TABLES----------------------------- */


/* --------------------- Contact Us -----------------------*/
.contact_list {
	list-style-type: none;
	font-size: 16px;
	padding-top: 12px;
	padding-left: 20px;
}

.contact_list li{
	line-height: 25px;
	padding-left: 20px;
	margin-bottom: 20px;
}

.contact_list li strong{
	line-height: 25px;
	margin-bottom: 18px;
	font-size: 18px;
}
.contact_list li div {display: inline-block; padding-right: 20px;}
.contact_list li div.name {width: 160px; }
.contact_list li div.email {width: 290px; }
.contact_list li div.email a {color:black; }
.contact_list li div.phone {width: 150px; }
